In [1]:
import pandas as pd

# 1. Carregar os dados do arquivo
df = pd.read_excel("dados_ausentes.xlsx")

         Nome  Idade          Cidade  Salário
0  Franscisco   28.0       São Paulo   3500.0
1       James    NaN  Rio de Janeiro   4500.0
2        Dave   35.0             NaN      NaN
3         Ana   22.0        Salvador   5000.0
4      Mônica    NaN    Porto Alegre   4800.0

In [ ]:
# Verificar se exitem dados faltando
print(df.isnull())

In [ ]:
# Contar os valores ausentes
print(df.isnull().sum())

In [2]:
# Excluir as linhas com dados ausentes
df_sem_nulos = df.dropna()
print(df_sem_nulos)

         Nome  Idade     Cidade  Salário
0  Franscisco   28.0  São Paulo   3500.0
3         Ana   22.0   Salvador   5000.0

In [4]:
# Substituir dados ausentes
# Cidades - Desconhecidos

df['Cidade'].fillna("Desconhecida", inplace=True)

print(df)

         Nome  Idade          Cidade  Salário
0  Franscisco   28.0       São Paulo   3500.0
1       James    NaN  Rio de Janeiro   4500.0
2        Dave   35.0    Desconhecida      NaN
3         Ana   22.0        Salvador   5000.0
4      Mônica    NaN    Porto Alegre   4800.0

In [5]:
# Substituir dados ausentes
df['Salário'].fillna(0, inplace=True)
print(df)

         Nome  Idade          Cidade  Salário
0  Franscisco   28.0       São Paulo   3500.0
1       James    NaN  Rio de Janeiro   4500.0
2        Dave   35.0    Desconhecida      0.0
3         Ana   22.0        Salvador   5000.0
4      Mônica    NaN    Porto Alegre   4800.0

C:\Users\48260449846\AppData\Local\Temp\ipykernel_20608\3468871594.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(0, inplace=True)

In [6]:
# Substituir dados ausentes
# Substituit 'Idade' pela média
df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

         Nome      Idade          Cidade  Salário
0  Franscisco  28.000000       São Paulo   3500.0
1       James  28.333333  Rio de Janeiro   4500.0
2        Dave  35.000000    Desconhecida      0.0
3         Ana  22.000000        Salvador   5000.0
4      Mônica  28.333333    Porto Alegre   4800.0

C:\Users\48260449846\AppData\Local\Temp\ipykernel_20608\3722965419.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)