In [ ]:
# 1. Carregar os dados do arquivo
import pandas as pd

df = pd.read_excel("dados_ausentes_2.xlsx")

print(df)

In [ ]:
# 1. Exercício: Carregar um arquivo e exibir as primeiras 5 linhas.
print(df.head())

In [ ]:
# 2. Exercício: Verificar se há valores NaN nas colunas do DataFrame.
print(df.isnull())

In [ ]:
# 3. Exercício: Substituir os valores NaN de uma coluna por 0.
df['Salário'].fillna(0, inplace=True)

print(df)

In [ ]:
# 4. Exercício: Substituir os valores NaN de uma coluna por um valor específico (por exemplo, a média).
df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

In [ ]:
# 5. Exercício: Remover todas as linhas que contêm valores NaN em qualquer coluna
df_sem_nulos = df.dropna()
print(df_sem_nulos)

In [ ]:
# 6. Exercício: Remover todas as linhas que contêm valores NaN em uma coluna específica.
df_sem_nulos_especifico = df['Idade'].dropna()
print(df_sem_nulos)

In [ ]:
# 7. Exercício: Substituir valores NaN de uma coluna com a mediana dessa coluna.
df['Salário'].fillna(df['Salário'].mean(), inplace=True)
print(df)

In [ ]:
# 8. Exercício: Substituir valores NaN de uma coluna com o valor de uma outra coluna.
df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

In [ ]:
# 9. Exercício: Preencher valores NaN com o valor anterior (método de forwardfill)
df['Cidade'] = df['Cidade'].ffill()
print(df)

In [ ]:
# 10. Exercício: Preencher valores NaN com o valor posterior ( metodo de backward fill).
df['Idade'] = df['Idade'].bfill()
print(df)

In [ ]:
# 11. Exercício: Alterar todos os valores de uma coluna para maiúsculas.
df['Cidade'] = df['Cidade'].str.title() 
print(df)

In [ ]:
# 12. Exercício: Alterar todos os valores de uma coluna para minúsculas.
df['Nome'] = df['Nome'].str.lower() 
print(df)

In [ ]:
# 13. Exercício: Remover espaços em branco à esquerda e à direita em uma coluna.
df['Cidade'] = df['Cidade'].str.strip()
print(df)

In [ ]:
# 14. Exercício: Substituir valores de uma coluna com base em um dicionário de mapeamento (ex: São Paulo para SP).
df['Cidade'] = df['Cidade'].str.lower().replace({'são paulo': 'SP', 'rio de janeiro': 'RJ'})
print(df)

In [ ]:
# 15 - Exercício: Identificar e remover valores duplicados de um DataFrame.
df = df.drop_duplicates(subset=['Nome'])
print(df)